* {
  font-family: "Century Gothic";
}
body {
  margin: 0;
}
#wrapper {
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
}
img {
  width: 700px;
  height: 630px;
}
#img h1 {
  margin-left: 35%;
  margin-top: 5%;
}
#product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -30%;
}
#specs {
  font-size: 20px;
}
.add {
  margin-bottom: 30px;
  font-size: 22px;
  border: none;
  padding: 15px;
}
