a:link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Century Gothic";
  margin: 0;
  position: relative;
}

#goback {
  position: absolute;
  left: 20;
}

#checkout {
  position: absolute;
  width: 21%;
  top: 27%;
  left: 14%;
}

#name, #email, #address {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 5px;
  border-width: medium;
  height: 35px;
}

.button {
  font-style: "Century Gothic";
  margin-left: 28px;
  padding: 0 45px;
  background-color: black;
  color: white;
  border-color: black;
}

#poster {
  position: absolute;
  left: 49%;
}

#poster img {
  height: 100%;
  width: 99%;
}
